@font-face {
	font-family: 'Quicksand';
	src:
		url('./Quicksand-Light.woff') format('woff'),
		url('./Quicksand-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src:
		url('./Quicksand-Regular.woff') format('woff'),
		url('./Quicksand-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src:
		url('./Quicksand-Medium.woff') format('woff'),
		url('./Quicksand-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src:
		url('./Quicksand-SemiBold.woff') format('woff'),
		url('./Quicksand-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src:
		url('./Quicksand-Bold.woff') format('woff'),
		url('./Quicksand-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
